.average-sessions {
  background-color: #ff0000;
  border-radius: 5px;
  width: 100%;
  height: 240px;
  min-height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  h2 {
    color: #ffffff;
    font-size: 0.8rem;
    opacity: 0.6;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  &__chart {
    flex: 1;
    width: 100%;
    min-height: 150px;
  }

  &__tooltip {
    background-color: #ffffff;
    color: #000;
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}

// Media queries
@media (max-width: 1024px) {
  .average-sessions {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .average-sessions {
    height: 200px;
  }
}
