.performance-radar {
  background-color: #282d30;
  border-radius: 5px;
  width: 100%;
  height: 240px;
  display: flex;
  padding: 0 0.8rem;
}

@media (max-width: 1024px) {
  .performance-radar {
    height: 220px;
    padding: 0 0.8rem;
  }
}

@media (max-width: 768px) {
  .performance-radar {
    height: 200px;
    padding: 0 0.5rem;
  }
}
