.score-chart {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 0.9rem;
  }

  &__text {
    position: absolute;
    text-align: center;

    span {
      font-size: 1.6rem;
      font-weight: bold;
    }

    p {
      font-size: 0.8rem;
      color: #74798c;
      margin-top: 0.2rem;
      line-height: 1.2;
    }
  }
}
