.key-data-card {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem;
  margin: 2.2rem;
  border-radius: 5px;
  background-color: #e2e2e2;

  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  &__value {
    font-size: 1.2rem;
    font-weight: 700;
    color: #282d30;
  }

  &__label {
    font-size: 0.9rem;
    color: #74798c;
  }

  /* Variantes couleurs */
  &--calories .key-data-card__icon {
    background-color: rgba(255, 0, 0, 0.1);
  }

  &--proteins .key-data-card__icon {
    background-color: rgba(74, 184, 255, 0.1);
  }

  &--carbs .key-data-card__icon {
    background-color: rgba(249, 206, 35, 0.1);
  }

  &--lipids .key-data-card__icon {
    background-color: rgba(253, 81, 129, 0.1);
  }
}
