.profile-header {
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;

    .profile-header__name {
      color: #e60000;
    }
  }

  p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: #000;
  }
}

@media (max-width: 768px) {
  .profile-header h1 {
    font-size: 2rem;
  }
}
